CONTRACT_ADDRESS = "Address where contract deployed to."
CONTRACT_PRIVATE = "Private key of contract owner."

ALCHEMY_URL = "https://eth-rinkeby.alchemyapi.io/v2/YOUR_PROJECT"
ALCHEMY_API_KEY = ""

WALLET_1_ADDRESS = ""
WALLET_1_PRIVATE = ""

WALLET_2_ADDRESS = ""
WALLET_2_PRIVATE = ""

WALLET_3_ADDRESS = ""
WALLET_3_PRIVATE = ""